#auth {
  text-decoration: none;
  background-color: white;
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 0 7.5px 1px black;
  color: black;
  font-size: 4em;
  transition: background-color 0.5s;
}
#auth:hover {
  background-color: #EEEEEE;
}
